<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>controleEstoqueWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CadastroCategoriaServlet</servlet-name>
    <servlet-class>servlets.CadastroCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCategoriaServlet</servlet-name>
    <url-pattern>/CadastroCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <servlet-class>servlets.ListarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <url-pattern>/ListarCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoverCategoriaServlet</servlet-name>
    <servlet-class>servlets.RemoverCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverCategoriaServlet</servlet-name>
    <url-pattern>/RemoverCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <servlet-class>servlets.CadastroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <url-pattern>/CadastroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastroUnidadeServlet</servlet-name>
    <servlet-class>servlets.CadastroUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUnidadeServlet</servlet-name>
    <url-pattern>/CadastroUnidade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarUnidadeServlet</servlet-name>
    <servlet-class>servlets.ListarUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUnidadeServlet</servlet-name>
    <url-pattern>/ListarUnidade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarProdutoServlet</servlet-name>
    <servlet-class>servlets.ListarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProdutoServlet</servlet-name>
    <url-pattern>/ListarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoverProdutoServlet</servlet-name>
    <servlet-class>servlets.RemoverProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverProdutoServlet</servlet-name>
    <url-pattern>/RemoverProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoverUsuarioServlet</servlet-name>
    <servlet-class>servlets.RemoverUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverUsuarioServlet</servlet-name>
    <url-pattern>/RemoverUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastroProdutoServlet</servlet-name>
    <servlet-class>servlets.CadastroProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroProdutoServlet</servlet-name>
    <url-pattern>/CadastroProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverUnidadeServlet</display-name>
    <servlet-name>RemoverUnidadeServlet</servlet-name>
    <servlet-class>servlets.RemoverUnidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverUnidadeServlet</servlet-name>
    <url-pattern>/RemoverUnidade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastroFornecedorServlet</servlet-name>
    <servlet-class>servlets.CadastroFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroFornecedorServlet</servlet-name>
    <url-pattern>/CadastroFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarFornecedorServlet</servlet-name>
    <servlet-class>servlets.ListarFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarFornecedorServlet</servlet-name>
    <url-pattern>/ListarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoverFornecedorServlet</servlet-name>
    <servlet-class>servlets.RemoverFornecedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverFornecedorServlet</servlet-name>
    <url-pattern>/RemoverFornecedor</url-pattern>
  </servlet-mapping>
</web-app>