<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>controleEstoqueWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CadastroCategoriaServlet</servlet-name>
    <servlet-class>servlets.CadastroCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCategoriaServlet</servlet-name>
    <url-pattern>/CadastroCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <servlet-class>servlets.ListarCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCategoriaServlet</servlet-name>
    <url-pattern>/ListarCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoverCategoriaServlet</servlet-name>
    <servlet-class>servlets.RemoverCategoriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverCategoriaServlet</servlet-name>
    <url-pattern>/RemoverCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <servlet-class>servlets.CadastroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <url-pattern>/CadastroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>